{
  "presets": ["@babel/preset-typescript", "@babel/preset-env"],
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "@src": ["./src"],
          "@helpers": ["./dist/helpers"]
        }
      }
    ]
  ]
}
